<html>
        <head>
            <title>first</title>
        </head>
        <body>
           <form action="/show" method="get">
               name:<input type="text" name="name"/>
               age:<input type="number" name="age"/>
               <input type="submit" value="send"/>
           </form>
        </body>
    </html>